<div class = "container-fluid">
  <p [textContent]="newState"></p>
<button (click) = "onclick()" type="button" class="btn btn-group-sm btn-primary">Change Load State</button>
  <br>
  <br>
  <input class="form-control-sm" type="input" [(ngModel)]="newState"/>
</div>
<br>
<div class = "container">
<!--<input class="form-control" type="input" [(ngModel)]="newPerson" />-->
  <input class="form-control" type = "input" [value]="newPerson" (input)="onchange($event)" />
<!--(input)="onchange($event)" [value]="newPerson-->
  <br>
<p> Welcome to this world {{userInput}} and {{newPerson}}</p>
</div>
<br>

