<div class="container">
<!--  <p [textContent]="items"></p>-->

  <button class = "btn" [ngClass]="{'btn-primary': newValue !== '', 'btn-danger': newValue === ''}" (click)="onDrag()">Add Item</button>
  <br><br>
  <p *ngIf="newValue === ''">Please enter a value to see changes</p>

  <input type="text" [(ngModel)]="newValue">
  <br>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items; let i = index" [ngStyle]="{backgroundColor: i % 2 === 0 ? 'lightblue' : 'grey'}">{{item}}</li>
  </ul>
</div>
<br>

